* {
  font-family: "Russo One", sans-serif;
  box-sizing: border-box;
}
body {
  margin: 0;
  background: url("background.jpg") fixed;
  background-size: cover;
  height: 100vh;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.root {
  display: grid;
  grid-template-rows: 20% 10% 10% 54% 1%;
  grid-template-columns: 100%;
  grid-row-gap: 1%;
  grid-template-areas:
    "target-row"
    "score"
    "timer"
    "board"
    "footer";
  width: 100%;
  height: 100%;
  margin-left: 0;
  margin-right: 0;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(9, 9, 121, 1) 49%,
    rgba(0, 0, 0, 1) 100%
  );
}
#target-row {
  grid-area: target-row;
  display: grid;
  grid-template-columns: 30% auto 30%;
  grid-template-rows: 5% 90% 5%;
  grid-template-areas:
    ". . ."
    "target . currentSum"
    ". . .";
}
.box {
  border-radius: 10%;
  font-size: 28px;
}
#target {
  margin: 15%;
  grid-area: target;
  background: yellow;
  font-size: 38px;
}
#currentSum {
  margin: 25%;
  grid-area: currentSum;
  background: red;
}
#score {
  grid-area: score;
  color: whitesmoke;
}
#timerContainer {
  display: grid;
  grid-template-columns: 15% 85%;
  grid-template-rows: 100%;
  flex-direction: row;
  align-items: center;
}
#timerIcon {
  grid-row: 1/2;
  grid-column: 1/2;
  height: 80%;
}
#timer {
  background: yellow;
  grid-row: 1/2;
  grid-column: 2/3;
  height: 40%;
  border-radius: 5px;
  margin-right: 5px;
  margin-left: 5px;
}
#boardContainer {
  position: relative;
  grid-area: board;
  background: black;
}
#grid {
  height: 95%;
  display: flex;
  flex-direction: column;
  margin: 5px;
}
.row {
  display: flex;
  flex-direction: row;
  height: calc(100% / 6);
  padding: 1% 0;
}
.cell {
  margin: 1%;
  background: #1c1a1a;
  border-radius: 10px;
  border: 1px solid black;
  box-shadow: 0 0 5px 0 #a83d3d;
  height: 100%;
  width: calc(100% / 6);
}
.numberContainer {
  background: #610f0f;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  color: yellow;
}
.numberContainer:hover {
  cursor: pointer;
}
.selectedNumberContainer {
  background: #ffffff;
  color: black;
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

#footer {
  grid-area: footer;
}

@media only screen and (min-width: 950px) {
  .root {
    margin-left: 35vw;
    margin-right: 35vw;
  }
}
